/* Forms */
form {
max-width: 300px;
padding: 19px 29px 29px;
margin: 0 auto 20px;
background-color: #fafafa;
border: 1px solid #e5e5e5;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

form .checkbox {
margin-bottom: 10px;
}

textarea {
resize: none;
}

.externalLogin {
display: inline-block;
float: right;
vertical-align: middle;
padding-left: 10px;
border-left: 1px solid #e5e5e5;
width: 76px;
}

/* Form validation */
.validation-summary-errors {
color: #c09853
}

.validation-summary-errors ul {
list-style: none;
}

.field-validation-error {
color: #c09853;
display: block;
top: -10px;
left: 5px;
position: relative;
}

/* Facebook login */
.fb-no-jump {
display:block;
max-height:25px;
overflow:hidden;
}